img {
    width: 12%;
    height: 12%;
    border: 1px solid black;
    margin-right: 10px;
}

div {
    text-align: center;
    margin-right: 10px;
}

.longWidth {
    width: 150px!important;
}

.buttonGreen, .buttonRed {
    width: 50px;
    margin: 10px 15px 10px 15px;
    position: relative;
    display: inline-block;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
    user-select: none;
    padding: .2em 0.6em;
    outline: none;
    border: none;
    border-radius: 3px;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}

.buttonGreen {
    background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
    box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
}

.buttonRed {
    background: rgba(211, 0, 0, 0.83) linear-gradient(rgba(254, 51, 38, 0.71), rgba(211, 0, 0, 0.83));
    box-shadow: inset rgba(211, 0, 0, 0.83) 0 -1px 1px, inset 0 1px 1px #ff443d, #aa3330 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
}

.buttonGreen:hover, .buttonRed:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
}
.buttonGreen:active, .buttonRed:active  {
    top: 1px;
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}

hr {
    width: 100%;
}

.dir {
    list-style-image: url("../imgs/folder.png");
    cursor: pointer;
}

.file {
    list-style-image: url("../imgs/document.png");
}

ul, li {
    margin: 4px 0 4px 0;
}

.not_sorted {
    text-align: left !important;
}

